
  
  <!-- Offcanvas Menu Wrapper Begin -->
  

  <app-header-front></app-header-front>
  
  
  <!-- carousel -->
  <app-carousel></app-carousel>
  <!-- carousel -->
  
  
        <!-- Property Section Begin -->
        <section class="property-section latest-property-section spad">
          <div class="container">
            
            <div class="row">
              <div class="col-lg-5">
                <div class="section-title">
                  
                  <h4>Co&Co esprit</h4>
                </div>
                
              </div>
              <div class="col-lg-7">
                <div class="property-controls">
                  <ul>
                    <li data-filter="all">All</li>
                    <li data-filter=".apart">Apartment</li>
                    <li data-filter=".house">House</li>
                    <li data-filter=".room">room</li>
                    <li data-filter=".car">car</li>
                    <li data-filter=".bus">bus</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row property-filter">
              <div class="col-lg-4 col-md-6 mix all house">
                <div class="property-item">
                  <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/house1.jpg');">
                    <div class="label">For rent</div>
                  </div>
                  <div class="pi-text">
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <div class="pt-price">DT 900<span>/month</span></div>
                    <h5><a href="#">Charming Home in Ariana</a></h5>
                    <p><span class="icon_pin_alt"></span> Near Esprit School, Ariana, Tunis</p>
                    <ul>
                      <li><i class="fa fa-object-group"></i> 120 m²</li>
                      <li><i class="fa fa-bathtub"></i> 02</li>
                      <li><i class="fa fa-bed"></i> 03</li>
                      <li><i class="fa fa-car"></i> Parking included</li>
                    </ul>
                    <div class="pi-agent">
                      <div class="pa-item">
                        <div class="pa-info">
                          <img src="assets/frontOffice/img/property/posted-by/person.jpg" alt="Agent Image">
                          <h6>Mohamed Ali</h6>
                        </div>
                        <div class="pa-text">
                          +216 55 123 456
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mix all bus">
                <div class="property-item">
                  <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/bus1.jpg');">
                    <div class="label c-blue">Available</div>
                  </div>
                  <div class="pi-text">
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <div class="pt-price"> 500<span>/day</span></div>
                    <h5><a href="#">City Bus </a></h5>
                    <p><span class="icon_pin_alt"></span> Based in Ariana, Tunis</p>
                    <ul>
                      <li><i class="fa fa-users"></i> Seats up to 40 people</li>
                    </ul>
                    <div class="pi-agent">
                      <div class="pa-item">
                        <div class="pa-info">
                          <img src="assets/frontOffice/img/property/posted-by/person.jpg" alt="Agent Photo">
                          <h6>Bachir</h6>
                        </div>
                        <div class="pa-text">
                          +216 55 123 456
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 mix  apart room">
                <div class="property-item">
                    <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/appartement1.jpg');">
                        <div class="label">Room Available</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">DT 350<span>/month</span></div>
                        <h5><a href="#">Room in Shared Apartment - Amen Residency</a></h5>
                        <p><span class="icon_pin_alt"></span> Ghansoli, Navi Mumbai</p>
                        <ul>
                            <li><i class="fa fa-bed"></i> 1 Room Available</li>
                            <li><i class="fa fa-bathtub"></i> 2 Shared Bathrooms</li>
                            <li><i class="fa fa-users"></i> 4 Roommates Total</li>
                            <li><i class="fa fa-wifi"></i> WiFi & Utilities Included</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="assets/frontOffice/img/property/posted-by/pb-1.jpg" alt="Agent Photo">
                                    <h6>manar </h6>
                                </div>
                                <div class="pa-text">
                                    +91 98765 43210
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="col-lg-4 col-md-6 mix all car">
                <div class="property-item">
                    <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/car1.jpg');">
                        <div class="label c-green">Carpool Available</div>
                    </div>
                    <div class="pi-text">
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <div class="pt-price">DT 5.5<span>/trip</span></div>
                        <h5><a href="#">Daily Commute: Ariana to Tunis</a></h5>
                        <p><span class="icon_pin_alt"></span> Departs: Ariana, Arrives: Downtown Tunis</p>
                        <ul>
                            <li><i class="fa fa-users"></i> Seats Available: 3</li>
                            <li><i class="fa fa-clock-o"></i> Departure Times: 8 AM, 5 PM</li>
                            <li><i class="fa fa-road"></i> Distance: 25 km</li>
                        </ul>
                        <div class="pi-agent">
                            <div class="pa-item">
                                <div class="pa-info">
                                    <img src="assets/frontOffice/img/property/posted-by/person.jpg" alt="">
                                    <h6>khaled kechmiri </h6>
                                </div>
                                <div class="pa-text">
                                    +216 55 678 900
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mix all room">
              <div class="property-item">
                <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/room2.jpg');">
                  <div class="label c-magenta">Room Available</div>
                </div>
                <div class="pi-text">
                  <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                  <div class="pt-price">DT 350<span>/month</span></div>
                  <h5><a href="#">Shared Flat in Ariana</a></h5>
                  <p><span class="icon_pin_alt"></span> Near Esprit University, Ariana</p>
                  <ul>
                    <li><i class="fa fa-users"></i> 1 Room Available</li>
                    <li><i class="fa fa-bathtub"></i> 1 Bathrooms Shared</li>
                    <li><i class="fa fa-bed"></i> 2 Bedrooms Total</li>
                    <li><i class="fa fa-wifi"></i> Wi-Fi Included</li>
                  </ul>
                  <div class="pi-agent">
                    <div class="pa-item">
                      <div class="pa-info">
                        <img src="assets/frontOffice/img/property/posted-by/person.jpg" alt="Agent Photo">
                        <h6>Leila Khaled</h6>
                      </div>
                      <div class="pa-text">
                        +216 20 123 456
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mix house apart room">
              <div class="property-item">
                  <div class="pi-pic set-bg" style="background-image: url('assets/frontOffice/img/property/appartment2.jpg');">
                      <div class="label">Room Available</div>
                  </div>
                  <div class="pi-text">
                      <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                      <div class="pt-price">dt 450<span>/month</span></div>
                      <h5><a href="#">Cozy Room in Central Apartment</a></h5>
                      <p><span class="icon_pin_alt"></span> Central Ariana, near Esprit University</p>
                      <ul>
                          <li><i class="fa fa-bed"></i> Fully Furnished Room</li>
                          <li><i class="fa fa-bathtub"></i> 2 Shared Bathrooms</li>
                          <li><i class="fa fa-cutlery"></i> Shared Kitchen with Appliances</li>
                          <li><i class="fa fa-wifi"></i> High-Speed WiFi Included</li>
                      </ul>
                      <div class="pi-agent">
                          <div class="pa-item">
                              <div class="pa-info">
                                  <img src="assets/frontOffice/img/property/posted-by/person.jpg" alt="Agent Photo">
                                  <h6>Sophia </h6>
                              </div>
                              <div class="pa-text">
                                  +216 55 678 900
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          
            </div>
          </div>
        </section>
        <!-- Chooseus Section Begin -->
        <section class="chooseus-section spad set-bg" style="background-image: url('assets/frontOffice/img/chooseus/chooseus-bg.jpg');">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8">
                      <div class="chooseus-text">
                          <div class="section-title">
                              <h4>Why Choose Coco Esprit</h4>
                          </div>
                          <p>Coco Esprit is your all-in-one platform dedicated to making university life easier. From finding a place to live and getting to your classes, to buying what you need and connecting with others, Coco Esprit has it all in one place.</p>
                      </div>
                      <div class="chooseus-features">
                          <div class="cf-item">
                              <div class="cf-pic">
                                  <img src="assets/frontOffice/img/chooseus/chooseus-icon-1.png" alt="">
                              </div>
                              <div class="cf-text">
                                  <h5>Comprehensive Collocation</h5>
                                  <p>Discover housing options tailored to your needs, whether you're looking for a roommate or your own space.</p>
                              </div>
                          </div>
                          <div class="cf-item">
                              <div class="cf-pic">
                                  <img src="assets/frontOffice/img/chooseus/chooseus-icon-3.png" alt="">
                              </div>
                              <div class="cf-text">
                                  <h5>Efficient Carpooling</h5>
                                  <p>Join our carpool network to find regular rides to and from campus, saving you time and transport costs.</p>
                              </div>
                          </div>
                          <div class="cf-item">
                              <div class="cf-pic">
                                  <img src="assets/frontOffice/img/chooseus/chooseus-icon-2.png" alt="">
                              </div>
                              <div class="cf-text">
                                  <h5>Vibrant Marketplace</h5>
                                  <p>Buy and sell goods with ease within the university community through our secure marketplace.</p>
                              </div>
                          </div>
                          <div class="cf-item">
                              <div class="cf-pic">
                                  <img src="assets/frontOffice/img/chooseus/chooseus-icon-4.png" alt="">
                              </div>
                              <div class="cf-text">
                                  <h5>Interactive Community Forum</h5>
                                  <p>Engage with peers, seek advice, and share your experiences in our dynamic community forum.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
        <!-- Feature Property Section Begin
        <section class="feature-property-section spad">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-0">
                <div class="feature-property-left">
                  <div class="section-title">
                    <h4>Feature PROPERTY</h4>
                  </div>
                  <ul>
                    <li>Apartment</li>
                    <li>House</li>
                    <li>Office</li>
                    <li>Hotel</li>
                    <li>Villa</li>
                    <li>Restaurent</li>
                  </ul>
                  <a href="#">View all property</a>
                </div>
              </div>
              <div class="col-lg-8 p-0">
                <div class="fp-slider owl-carousel">
                  <div class="fp-item set-bg" style="background-image: url('assets/img/feature-property/fp-1.jpg');">
                    <div class="fp-text">
                      <h5 class="title">Home in Merrick Way</h5>
                      <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                      <div class="label">For Rent</div>
                      <h5>$ 289.0<span>/month</span></h5>
                      <ul>
                        <li><i class="fa fa-object-group"></i> 2, 283</li>
                        <li><i class="fa fa-bathtub"></i> 03</li>
                        <li><i class="fa fa-bed"></i> 05</li>
                        <li><i class="fa fa-automobile"></i> 01</li>
                      </ul>
                    </div>
                  </div>
                  <div class="fp-item set-bg" style="background-image: url('assets/img/feature-property/fp-2.jpg');">
                    <div class="fp-text">
                      <h5 class="title">Home in Merrick Way</h5>
                      <p><span class="icon_pin_alt"></span> 3 Middle Winchendon Rd, Rindge, NH 03461</p>
                      <div class="label">For Rent</div>
                      <h5>$ 289.0<span>/month</span></h5>
                      <ul>
                        <li><i class="fa fa-object-group"></i> 2, 283</li>
                        <li><i class="fa fa-bathtub"></i> 03</li>
                        <li><i class="fa fa-bed"></i> 05</li>
                        <li><i class="fa fa-automobile"></i> 01</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>-->
        <!-- Team Section Begin -->
        <section class="team-section spad">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="section-title">
                  <h4>Latest Property</h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="team-btn">
                  <a href="#"><i class="fa fa-user"></i> ALL counselor</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="ts-item">
                  <div class="ts-text">
                    <img src="assets/frontOffice/img/team/team-1.jpg" alt="">
                    <h5>Ashton Kutcher</h5>
                    <span>123-455-688</span>
                    <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                    <div class="ts-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ts-item">
                  <div class="ts-text">
                    <img src="assets/frontOffice/img/team/team-2.jpg" alt="">
                    <h5>Ashton Kutcher</h5>
                    <span>123-455-688</span>
                    <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                    <div class="ts-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="ts-item">
                  <div class="ts-text">
                    <img src="assets/frontOffice/img/team/team-3.jpg" alt="">
                    <h5>Ashton Kutcher</h5>
                    <span>123-455-688</span>
                    <p>Ipsum dolor amet, consectetur adipiscing elit, eiusmod tempor incididunt lorem.</p>
                    <div class="ts-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Team Section End -->
        <!-- Categories Section Begin -->
        <section class="categories-section">
          <div class="cs-item-list">
            <div class="cs-item set-bg" style="background-image: url('assets/frontOffice/img/categories/cat-1.jpg');">
              <div class="cs-text">
                <h5>Apartment</h5>
                <span>230 property</span>
              </div>
            </div>
            <div class="cs-item set-bg" style="background-image: url('assets/frontOffice/img/categories/cat-2.jpg');">
              <div class="cs-text">
                <h5>Villa</h5>
                <span>230 property</span>
              </div>
            </div>
            <div class="cs-item set-bg" style="background-image: url('assets/frontOffice/img/categories/cat-3.jpg');">
              <div class="cs-text">
                <h5>House</h5>
                <span>230 property</span>
              </div>
            </div>
            <div class="cs-item set-bg" style="background-image: url('assets/frontOffice/img/categories/cat-4.jpg');">
              <div class="cs-text">
                <h5>Restaurent</h5>
                <span>230 property</span>
              </div>
            </div>
            <div class="cs-item set-bg" style="background-image: url('assets/frontOffice/img/categories/cat-5.jpg');">
              <div class="cs-text">
                <h5>Office</h5>
                <span>230 property</span>
              </div>
            </div>
          </div>
        </section>
        <!-- Categories Section End -->
        <!-- Testimonial Section Begin -->
        <section class="testimonial-section spad">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-title">
                  <h4>What our client says?</h4>
                </div>
              </div>
            </div>
            <div class="row testimonial-slider owl-carousel">
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <div class="ti-text">
                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                  </div>
                  <div class="ti-author">
                    <div class="ta-pic">
                      <img src="assets/frontOffice/img/testimonial-author/ta-1.jpg" alt="">
                    </div>
                    <div class="ta-text">
                      <h5>Arise Naieh</h5>
                      <span>Designer</span>
                      <div class="ta-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <div class="ti-text">
                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                  </div>
                  <div class="ti-author">
                    <div class="ta-pic">
                      <img src="assets/frontOffice/img/testimonial-author/ta-2.jpg" alt="">
                    </div>
                    <div class="ta-text">
                      <h5>Arise Naieh</h5>
                      <span>Designer</span>
                      <div class="ta-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testimonial-item">
                  <div class="ti-text">
                    <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                      magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                  </div>
                  <div class="ti-author">
                    <div class="ta-pic">
                      <img src="assets/frontOffice/img/testimonial-author/ta-1.jpg" alt="">
                    </div>
                    <div class="ta-text">
                      <h5>Arise Naieh</h5>
                      <span>Designer</span>
                      <div class="ta-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Testimonial Section End -->
  
        <!-- Logo Carousel Begin -->
  <div class="logo-carousel">
    <div class="container">
      <div class="lc-slider owl-carousel">
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-1.png" alt="">
          </div>
        </a>
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-2.png" alt="">
          </div>
        </a>
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-3.png" alt="">
          </div>
        </a>
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-4.png" alt="">
          </div>
        </a>
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-5.png" alt="">
          </div>
        </a>
        <a href="#" class="lc-item">
          <div class="lc-item-inner">
            <img src="assets/frontOffice/img/logo-carousel/lc-6.png" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Logo Carousel End -->
  
  <!-- Contact  -->
  <section class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-info">
            <div class="ci-item">
              <div class="ci-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="ci-text">
                <h5>Address</h5>
                <p>18, rue de l'Usine - ZI Aéroport Charguia II. 2035 Ariana</p>
              </div>
            </div>
            <div class="ci-item">
              <div class="ci-icon">
                <i class="fa fa-mobile"></i>
              </div>
              <div class="ci-text">
                <h5>Phone</h5>
                <ul>
                  <li>78-258-456</li>
                  <li>77-777-789</li>
                </ul>
              </div>
            </div>
            <div class="ci-item">
              <div class="ci-icon">
                <i class="fa fa-headphones"></i>
              </div>
              <div class="ci-text">
                <h5>Support</h5>
                <p>Support.CoCo@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd"
        height="450" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </section>
  <!-- Contact  -->
  
  
  
  
  <!-- Footer  -->
  <app-footer-front></app-footer-front>
  <!-- Footer  -->
  
  
  