a {
  background-color:#05bbf2 ;
  border-color: #05bbf2;
  color:white;
  border-width: 3px;
  border-radius: 10px;
}
.bi-trash3{
  fill :red;
}
.bi-pencil {
  fill: #052077;
}
.bi-eye{
  fill: #FFA500;
}
