<footer class="footer-wrap style2 bg-f footer-bg-1">
    <div class="overlay op-95 bg-vulcan "></div>
    <div class="footer-top pt-100 pb-60">
    <div class="container">
    <div class="row">
    <div class="footer-widget-wrap">
    <div class="footer-widget">
    <a href="index.html" class="logo">
    <img src="assets/frontOffice/img/logo-white.png" alt="Image">
    </a>
    <div class="newsletter-box">
    <p>Subscribe Our Newsletter To Get Our Latest
    Updated News!</p>
    <form action="#" class="newsletter-form">
    <div class="form-group">
    <input type="email" placeholder="Your Email">
    <button type="submit"><i class="flaticon-direct"></i></button>
    </div>
    </form>
    </div>
    <div class="social-box">
    <span>Follow us</span>
    <ul class="social-profile style1 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-app-symbol"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter"></i> </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-instagram-2"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="flaticon-pinterest"></i> </a></li>
    </ul>
    </div>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">Services</h4>
    <ul class="footer-menu list-style">
    <li><a href="services-one.html"><i class="flaticon-next"></i> Web Development</a>
    </li>
    <li><a href="services-one.html"><i class="flaticon-next"></i>Product Branding</a>
    </li>
    <li><a href="services-one.html"><i class="flaticon-next"></i>Content Writing</a>
    </li>
    <li><a href="services-one.html"><i class="flaticon-next"></i>App Design</a></li>
    <li><a href="services-one.html"><i class="flaticon-next"></i>Marketing</a></li>
    </ul>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">Quick Links</h4>
    <ul class="footer-menu list-style">
    <li><a href="about.html"><i class="flaticon-next"></i>About Us</a></li>
    <li><a href="portfolio-details.html"><i class="flaticon-next"></i>Case Studies</a>
    </li>
    <li><a href="blog-left-sidebar.html"><i class="flaticon-next"></i>Latest News</a>
    </li>
    <li><a href="contact.html"><i class="flaticon-next"></i>Contact us</a></li>
    <li><a href="contact.html"><i class="flaticon-next"></i>Career</a></li>
    </ul>
    </div>
    <div class="footer-widget">
    <h4 class="footer-widget-title">Get In Touch</h4>
    <div class="contact-item">
    <i class="flaticon-pin"></i>
    <h6>Location</h6>
    <p>2976 Sunrise Road, Las Vegas</p>
    </div>
    <div class="contact-item">
    <i class="flaticon-call-1"></i>
    <h6>Email</h6>
    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#254d4049494a65484c56440b464a48"><span class="__cf_email__" data-cfemail="620a070e0e0d220f0b11034c010d0f">[email&#160;protected]</span></a>
    </div>
    <div class="contact-item">
    <i class="flaticon-email"></i>
    <h6>Phone</h6>
    <a href="tel:13454567877">+1-3454-5678-77</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-bottom">
    <div class="copyright">
    <p><span class="las la-copyright"></span><script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> <a href="index.html">Misa</a>. All Rights Reserved By
    <a href="https://hibootstrap.com/">HiBootstrap</a></p>
    </div>
    </div>
    </footer>