<footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="fs-about">
            <div class="fs-logo">
              <a routerLink="#">
                <img src="assets/frontOffice/img/logo.png" alt="Coco Esprit Logo">
              </a>
            </div>
            <p>Connecting Esprit students with essential services from accommodation to daily transport and more.</p>

            <div class="fs-social">
              <a routerLink="#"><i class="fa fa-facebook"></i></a>
              <a routerLink="#"><i class="fa fa-twitter"></i></a>
              <a routerLink="#"><i class="fa fa-youtube-play"></i></a>
              <a routerLink="#"><i class="fa fa-instagram"></i></a>
              <a routerLink="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="fs-widget">
            <h5>Services</h5>
                    <ul>
                        <li><a routerLink="#">Carpooling</a></li>
                        <li><a routerLink="#">Accommodation</a></li>
                        <li><a routerLink="#">Bus Service</a></li>
                        <li><a routerLink="#">MarketPlace</a></li>
                    </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="fs-widget">
            <h5>Quick Links</h5>
                    <ul>
                        <li><a routerLink="#">About Us</a></li>
                        <li><a routerLink="#">Contact</a></li>
                        <li><a routerLink="#">Privacy Policy</a></li>
                        <li><a routerLink="#">Support</a></li>
                    </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="fs-widget">
            <h5>Stay Updated</h5>
                    <p>Subscribe to our newsletter for the latest updates and offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="email" placeholder="Enter your email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
          </div>
        </div>
      </div>
      <div class="copyright-text">
        <p>
          <script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart" aria-hidden="true"></i>  <a routerLink="https://colorlib.com" target="_blank"></a>
          </p>
      </div>
    </div>
  </footer>