<script>
    // Démarrez le carrousel automatiquement toutes les 5 secondes
    var carousel = new bootstrap.Carousel(document.getElementById('carouselExampleIndicators'), {
      interval: 5000 // 5000 millisecondes = 5 secondes
    });
  </script>
  
  <!--******************************************** -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousal-container">
      <div class="carousel-item active">
        <div class="container ">
          <img src="assets/frontOffice/img/hero/carshare.png" class="d-block w-100" alt="1">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
              <div class="hc-inner-text">
                <div class="hc-text">
                  <h4>Tunis to Esprit Carpool</h4>
                  <p><span class="icon_pin_alt"></span> Departure: Tunis Centre, Destination: Esprit </p>
                  <div class="label">Seats Available</div>
                  <h5>5 DT<span>/trip</span></h5>
                </div>
                <div class="hc-widget1">
                  <ul>
                    <li><i class="fa fa-clock-o"></i> Departures: 8:00 AM, 5:00 PM</li>
                    
                    <li><i class="fa fa-map-marker"></i> Pick-Up: Downtown, Drop-Off: Campus</li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="container">
          <img src="assets/frontOffice/img/hero/coliving.jpg" class="d-block w-100" alt="2">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
              <div class="hc-inner-text">
                <div class="hc-text">
                  <h4>Shared Apartment Near Esprit University</h4>
                  <p1><span class="icon_pin_alt"></span> Location: 5 min walk from Esprit,Ariana soghra</p1>
                  <div class="label">Room Available</div>
                  <h5>DT 250<span>/month</span></h5>
                </div>
                <div class="hc-widget1">
                  <ul>
                    <li><i class="fa fa-users"></i> 2 Students Currently Sharing</li>
                    <li><i class="fa fa-home"></i> 3 Bedrooms, 1 Bathrooms</li>
                    <li><i class="fa fa-wifi"></i> Wifi Included</li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
      <div class="carousel-item">
        <div class="container">
          <img src="assets/frontOffice/img/hero/room.jpg" class="d-block w-100" alt="3">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
              <div class="hc-inner-text">
                <div class="hc-text">
                  <h4>Shared Apartment </h4>
                  <p><span class="icon_pin_alt"></span> 15 min walk from Esprit, ghazela</p>
                  <div class="label">Room Available</div>
                  <h5>DT 300<span>/month</span></h5>
                </div>
                <div class="hc-widget">
                  <ul>
                    <li><i class="fa fa-users"></i> 1 Students Currently Sharing</li>
                    <li><i class="fa fa-home"></i> 2 Bedrooms</li>
                    
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>