


  
  .card {
    background: rgba(255, 255, 255, 0.95); 
    border-radius: 0.5rem;
    border: none;
  }
  
  .card-header {
    background-color: transparent;
    border-bottom: none;
  }
  
  .input-group-text, .form-control {
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #d9534f; 
    border: none;
    border-radius: 0.25rem;
  }
  
  .btn-primary:hover {
    background-color: #b52f37; 
  }
  
  .text-primary {
    color: #d9534f; 
  }
  