
<div class="body" style="background-image: url('assets/frontOffice/img/coco.jpg'); background-size: cover; background-position: center center;">
<div class="forget-password-container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center bg-transparent border-0">
          <img src="assets/frontOffice/img/logo.png" alt="Co&Co Esprit Logo" height="50">
          <h3 class="d-inline align-middle ml-2 text-dark">Co&Co Esprit</h3>
        </div>
        <div class="card-body">
          <h3 class="text-center text-primary mb-4">Forgot Your Password?</h3>
          <form (ngSubmit)="submitEmail()" #forgetForm="ngForm">
            <div class="form-group">
              <label for="email" class="form-label">Enter your email to reset password:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" id="email" [(ngModel)]="userEmail" name="email" placeholder="Enter your email" required>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgetForm.valid">Send Reset Link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>