.subscription-container {
  width: 80%;
  margin: auto;
}

.subscription-option {
  margin-bottom: 20px;
}

.subscription-label {
  display: block;
  margin-bottom: 5px;
}

.subscription-style {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
}

.subscription-style-10 {
  background-color: #FFC107; /* Couleur pour 10 Remaining Trips */
}

.subscription-style-20 {
  background-color: #4CAF50; /* Couleur pour 20 Remaining Trips */
}

.subscription-style-30 {
  background-color: #2196F3; /* Couleur pour 30 Remaining Trips */
}

.payment-method {
  margin-top: 20px;
}
