<app-header-back></app-header-back>
<app-navbar-back></app-navbar-back>

<main id="main" class="main">
  <div class="container">
    <form [formGroup]="tripForm" (ngSubmit)="updateTrip()">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="name">
        <div class="invalid-feedback" *ngIf="tripForm.get('name')?.invalid && tripForm.get('name')?.touched">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="departureLocation">Departure Location</label>
        <input type="text" class="form-control" formControlName="departureLocation" id="departureLocation" placeholder="Departure Location">
        <div class="invalid-feedback" *ngIf="tripForm.get('departureLocation')?.invalid && tripForm.get('departureLocation')?.touched">
          Departure Location is required
        </div>
      </div>

      <div class="form-group">
        <label for="arrivalLocation">Arrival Location</label>
        <input type="text" class="form-control" formControlName="arrivalLocation" id="arrivalLocation" placeholder="Arrival Location">
        <div class="invalid-feedback" *ngIf="tripForm.get('arrivalLocation')?.invalid && tripForm.get('arrivalLocation')?.touched">
          Arrival Location is required
        </div>
      </div>

      <div class="form-group">
        <label for="estimatedDuration">Estimated Duration</label>
        <input type="text" class="form-control" formControlName="estimatedDuration" id="estimatedDuration" placeholder="Estimated Duration">
        <div class="invalid-feedback" *ngIf="tripForm.get('estimatedDuration')?.invalid && tripForm.get('estimatedDuration')?.touched">
          Estimated Duration is required
        </div>
      </div>

      <div class="form-group">
        <label for="fare">Fare</label>
        <input type="text" class="form-control" formControlName="fare" id="fare" placeholder="Fare">
        <div class="invalid-feedback" *ngIf="tripForm.get('fare')?.invalid && tripForm.get('fare')?.touched">
          Fare is required
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</main>

<app-footer-back></app-footer-back>
