/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* notification */
.custom-toast {
    background-color: #ff69b4 !important; 
    color: white !important; 
    border: 1px solid white !important; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important; 
    border-radius: 8px !important; 
    font-weight: bold; 
    padding: 10px 20px; 
  }
  
  
  
  
  
  
@import "~leaflet/dist/leaflet.css";
@import 'bootstrap/scss/bootstrap';

@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import '../node_modules/ngx-toastr/toastr.css';
