<header class="header-section">
    <div class="hs-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="logo">
              <a routerLink="./index.html"><img src="assets/frontOffice/img/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="ht-widget">
              <ul>
                <li><i class="icon_mail_alt"></i> CoCo.CoCo@esprit.tn</li>
                <li><i class="fa fa-mobile-phone"></i> 78-258-456 <span>77-777-789</span></li>
              </ul>
              <a routerLink="#" class="hw-btn">Co&Co esprit</a>
            </div>
          </div>
        </div>
        <div class="canvas-open">
          <span class="icon_menu"></span>
        </div>
      </div>
    </div>
    <div class="hs-nav">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <nav class="nav-menu">
              <ul>
                <li class="active"><a routerLink="./index.html">Home</a></li>
                <li><a routerLink="#">Capooling</a>
                  <ul class="dropdown">
                    <li><a routerLink="./property.html">car</a></li>
                    <li><a routerLink="./profile.html">add a ride</a></li>
                    <li><a routerLink="./property-details.html">ride details</a></li>
                    <li><a routerLink="./property-comparison.html">my rides</a></li>
                    <li><a routerLink="./property-submit.html">drivers list</a></li>
                  </ul>
                </li>
                <li><a routerLink="./agents.html">Accommodation</a></li>
                <li><a routerLink="./about.html">MarketPlace</a></li>
                <li><a routerLink="./blog.html">Blog</a></li>
                <li><a routerLink="./blog.html">Bus</a></li>
                <li><a routerLink="./contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3">
            <div class="hn-social">
              <a routerLink="#"><i class="fa fa-facebook"></i></a>
              <a routerLink="#"><i class="fa fa-twitter"></i></a>
              <a routerLink="#"><i class="fa fa-youtube-play"></i></a>
              <a routerLink="#"><i class="fa fa-instagram"></i></a>
              <a routerLink="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>