<header class="header-wrap style3">
    <div class="header-top bg-vulcan">
    <div class="close-header-top xl-none">
    <button type="button"><i class="las la-times"></i></button>
    </div>
    <div class="container">
    <div class="row align-items-center">
    <div class="col-xl-8 col-lg-12">
    <div class="header-top-left">
    <div class="contact-item">
    <i class="flaticon-call-1"></i>
    <a href="tel:13454567877">+1-3454-5678-77</a>
    </div>
    <div class="contact-item">
    <i class="flaticon-clock-1"></i>
    <p>Mon to Fri 9:00 am to 6:00 pm</p>
    </div>
    <div class="contact-item">
    <i class="flaticon-maps-and-flags"></i>
    <p>2364 Fl,New York, USA</p>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-12">
    <div class="header-top-right">
    <div class="navbar-option-item navbar-language dropdown language-option">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="las la-globe"></i>
    <span class="lang-name"></span>
    </button>
    <div class="dropdown-menu language-dropdown-menu">
    <a class="dropdown-item" href="#">
    <img src="assets/frontOffice/img/uk.png" alt="flag">
    Eng
    </a>
    <a class="dropdown-item" href="#">
    <img src="assets/frontOffice/img/china.png" alt="flag">
    简体中文
    </a>
    <a class="dropdown-item" href="#">
    <img src="assets/frontOffice/img/uae.png" alt="flag">
    العربيّة
    </a>
    </div>
    </div>
    <ul class="social-profile style2 list-style">
    <li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-app-symbol"></i> </a></li>
    <li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter"></i>
    </a></li>
    <li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-instagram-2"></i> </a></li>
    <li><a target="_blank" href="https://instagram.com/"> <i class="flaticon-pinterest"></i> </a></li>
    </ul>
    <a href="services-one.html" class="btn style1 xl-none">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="header-bottom">
    <div class="container">
    <div class="header-bottom-wrap">
    <div class="row align-items-center">
    <div class="col-xl-3 col-lg-6 col-md-6 col-5">
    <a href="index.html" class="logo">
    <img class="logo-light" src="assets/frontOffice/img/logo-black.png" alt="Image">
    <img class="logo-dark" src="assets/frontOffice/img/logo-white.png" alt="Image">
    </a>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-7">
    <div class="main-menu-wrap">
    <div class="menu-close xl-none">
    <a href="javascript:void(0)"><i class="las la-times"></i></a>
    </div>
    <div id="menu">
    <ul class="main-menu list-style">
    <li class="has-children">
    <a class="active" href="#">Home</a>
    <ul class="sub-menu list-style">
    <li>
    <a href="index.html">Home 1</a>
    </li>
    <li><a href="index-2.html">Home 2</a></li>
    <li><a class="active" href="index-3.html">Home 3</a></li>
    </ul>
    </li>
    <li class="has-children">
    <a href="#">Services</a>
    <ul class="sub-menu list-style">
    <li>
    <a href="services-one.html">Service Style One</a>
    </li>
    <li>
    <a href="services-two.html">Service Style Two</a>
    </li>
    <li>
    <a href="service-details.html">Service Single</a>
    </li>
    </ul>
    </li>
    <li class="has-children">
    <a href="#">Portfolio</a>
    <ul class="sub-menu list-style">
    <li>
    <a href="portfolio-one.html">Portfolio Style One</a>
    </li>
    <li>
    <a href="portfolio-two.html">Portfolio Style Two</a>
    </li>
    <li>
    <a href="portfolio-three.html">Portfolio Style Three</a>
    </li>
    <li>
    <a href="portfolio-details.html">Portfolio Single</a>
    </li>
    </ul>
    </li>
    <li class="has-children">
    <a href="#">Pages</a>
    <ul class="sub-menu list-style">
    <li><a href="about.html">About us</a></li>
    <li><a href="team.html">Team</a></li>
    <li><a href="testimonials.html">Testimonials</a></li>
    <li><a href="faq.html">Faqs</a></li>
    <li><a href="pricing-plan.html">Pricing Table</a></li>
    <li class="has-children"><a href="#">User</a>
    <ul class="sub-menu list-style">
    <li>
    <a href="login.html">Login</a>
    </li>
    <li>
    <a href="register.html">Register</a>
    </li>
    <li>
    <a href="forgot-pwd.html">Forgot Password</a>
    </li>
    </ul>
    </li>
    <li><a href="privacy-policy.html">Privacy Policy</a></li>
    <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
    <li><a href="404.html">404 Error</a></li>
    </ul>
    </li>
    <li class="has-children">
    <a href="#">Blog</a>
    <ul class="sub-menu list-style">
    <li class="has-children"><a href="#">Blog Layout</a>
    <ul class="sub-menu list-style">
    <li><a href="blog-no-sidebar.html">Blog Grid </a></li>
    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a>
    </li>
    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a>
    </li>
    </ul>
    </li>
    <li class="has-children"><a href="#">Blog Single</a>
    <ul class="sub-menu list-style">
    <li><a href="blog-details-no-sidebar.html">Blog Single No
    Sidebar</a></li>
    <li><a href="blog-details-left-sidebar.html">Blog Single
    Left Sidebar</a></li>
    <li><a href="blog-details-right-sidebar.html">Blog Single
    Right Sidebar</a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li>
    <a href="contact.html">Contact</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="mobile-bar-wrap">
    <button type="button" class="searchbtn xl-none"><i class="flaticon-search-interface-symbol"></i></button>
    <div class="mobile-top-bar xl-none">
    <span></span>
    <span></span>
    <span></span>
    </div>
    <div class="mobile-menu xl-none">
    <a href="javascript:void(0)"><i class="las la-bars"></i></a>
    </div>
    </div>
    </div>
    <div class="col-xl-3 lg-none">
    <div class="header-bottom-right">
    <button class="searchbtn"><i class="flaticon-search-1"></i></button>
    <a href="services-one.html" class="btn style1">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    <div class="search-area">
    <form action="#">
    <div class="form-group">
    <input type="search" placeholder="Search Here" autofocus>
    <button type="submit">
    <i class="flaticon-search-1"></i>
    </button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </header>